[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
mlflow = "*"
jupyter = "*"
scikit-learn = "==1.2.0"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
